@charset "UTF-8";

:root {
	--color-background: #f5deb3;
	--color-title: #696969;
	--color-subtitle: #cd5c5c;
	--color-char: #333333;
	--color-error: #8b0000;
	--color-action-area: #c0c0c0;
	/* action-areaの枠の色 */
	--color-listback: #d3d3d3;
	/* リストの枠の色 */
	--color-item: #e6e6fa;
	/* アイテムの色 */
	--color-input-text: #A6A6A6;
	--color-darkgray: #a9a9a9;

	--small: 0.5rem;
	--medium: 1rem;
	--big: 2rem;

	--font-size: 1rem;
	--font-large: 3rem;
}

html {
	margin: 0;
	padding: 0;
	height: auto;
	color: var(--color-char);
	overflow-y: scroll;
	background-color: var(--color-background);
}

body {
	margin: 0;
	padding: 0;
	height: auto;
}


/* タイトル */
h1 {
	margin: var(--medium);
	color: var(--color-title);
	text-align: center;
}

h2 {
	margin: var(--medium);
	color: var(--color-subtitle);
	text-align: center;
}

h3 {
	margin: 2rem 0 0 0;
	color: var(--color-input-text);
	text-align: center;
}

img {
	width: 200px;
	height: 200px;
	margin: var(--small);
	justify-content: center;
	align-items: center;
}


.error {
	color: var(--color-error);
}


.calender-title {
	display: flex;
	align-items: center;
}

/* 画面全体の枠 */
.container {
	width: 100%;
	height: auto;
	display: flex;
	margin: auto 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--color-background);
}

/* アクションごとの枠 */
.action-area {
	width: 60%;
	max-width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1rem 0;
	background-color: var(--color-action-area);
	padding: var(--medium);
	border-radius: 10px;
}

/* リスト背景(表示枠) */
.lists-back-ground {
	width: 90%;
	max-width: 100%;
	justify-content: center;
	align-items: center;
	max-height: 500px;
	border-radius: 10px;
	padding: var(--medium);
	margin: 0.5rem auto;
	background-color: var(--color-listback);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-color: #778899 #e6e6fa;
	scrollbar-width: thin;
	box-sizing: border-box;
	flex: 1;
}

.lists-back-ground-todoChat {
	width: auto;
	max-width: 100%;
	justify-content: center;
	align-items: center;
	max-height: 500px;
	border-radius: 10px;
	padding: var(--medium);
	margin: 0.5rem auto;
	background-color: var(--color-listback);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-color: #778899 #e6e6fa;
	scrollbar-width: thin;
	box-sizing: border-box;
	flex: 1;
}


.todoChat {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.lists-back-ground-todoChat table {
	width: 100%;
	/* テーブルの幅を100%に設定 */
	border-collapse: collapse;
	/* セルの境界線を結合 */
	table-layout: fixed;
}

.todoChat th {
	padding: 8px;
	/* セル内のパディング */
	text-align: center;
	/* 中央揃え */
	flex: 0 0 auto;
	/* 固定幅を設定 */

}

.todoChat td {
	padding: 8px;
	/* セル内のパディング */
	text-align: center;
	/* 中央揃え */
	white-space: normal;
	/* 折り返しを許可 */
	flex: 1;
	/* 自動的に幅を調整 */
	overflow-wrap: break-word;
	/* 単語の折り返しを許可 */
	min-width: 50px;
	/* 最小幅を設定（必要に応じて調整） */
}

/* ボタン列のセルの幅を設定 */
.lists-back-ground-todoChat td.button-cell {
    width: 50px; /* お好みの幅に調整 */
}
/* ボタン列のセルの幅を設定 */
.lists-back-ground-todoChat th.button-cell {
    width: 50px; /* お好みの幅に調整 */
}

.todoChat tr {
	justify-content: flex-start;
	/* 横並びにする */
	margin: 0.5rem auto;
}


/* カレンダーのテーブル配置 */
.calendar {
	width: 90%;
	max-width: 90%;
	padding: var(--small);
	margin: 0 auto;
	background-color: var(--color-listback);
	text-align: center;
	border: 0;
}

.calendar table {
	border: 0;
	/* テーブルの境界線を結合 */
	margin: 0 auto;
	/* テーブルを中央寄せ */
	border-collapse: collapse;
	/* ボーダーを結合 */
}

/* リストのテーブル配置 */
.lists-table {
	width: auto;
	max-width: 90%;
	display: block;
	padding: var(--small);
	margin: 0 auto;
	background-color: var(--color-listback);
	text-align: center;
	border: 0;
}

.lists-table table {
	border: 0;
	/* テーブルの境界線を結合 */
	margin: 0 auto;
	/* テーブルを中央寄せ */
	width: auto;
	/* テーブルを100%に設定 */
	max-width: 100%;
	/* 最大幅を制限 */
	border-collapse: collapse;
	/* ボーダーを結合 */
}

/* リストの中配置 */
.lists {
	width: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--small);
	color: var(--color-item);
	/* チャットアイテムの色 */
	margin: var(--small) 0;
	/* リスト間のスペース */
	border-radius: 5px;
	/* 角を丸める */
}

/* 入力エリア カレンダー専用*/
.input-area-calendar {
	width: 100%;
	max-width: 90%;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--small);
	margin: var(--small);
	box-sizing: border-box;
}

/* 入力エリア Todo専用*/
.input-area-todo {
	width: 100%;
	max-width: 480px;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--small);
	margin: auto;
	box-sizing: border-box;
}

/*入力エリア*/
.input-area {
	width: 100%;
	max-width: 90%;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding: var(--small);
	margin: var(--small);
	box-sizing: border-box;
}

/* 文字入力枠 */
.input-text {
	width: 100%;
	max-width: 90%;
	box-sizing: border-box;
	padding: var(--small);
	margin: 0 var(--small);
	background-color: var(--color-input-text);
	color: var(--color-char);
	font-size: var(--font-size);
	text-align: start;
	line-height: 1.5rem;
	border: 1px solid var(--color-darkgray);
	border-radius: 5px;
}

.inline-form {
	display: flex;
	align-items: center;
}

/*インプットに関連するオプション類*/
.input-option {
	width: auto;
	max-width: 90%;
	margin: 0 var(--small);
	padding: var(--small);
	justify-content: center;
	align-items: center;
}

.input-button-area {
	width: 100%;
	display: flex;
	margin: 0 auto;
	padding: var(--small);
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}



/* ボタン */
.btn {
	padding: 0.5rem 1rem;
	margin: 0 var(--small);
	background-color: var(--color-darkgray);
	color: white;
	border: none;
	border-radius: 5px;
	font-size: var(--font-size);
	cursor: pointer;
	/* カーソルをポインターに */
	transition: background-color 0.3s;
	/* ホバー時のトランジション */
	white-space: nowrap;
	/* テキストを折り返さない */
	overflow: hidden;
	/* はみ出した部分を隠す */
}

.btn:hover {
	background-color: #555;
	/* ホバー時の背景色を変更 */
}

/*カレンダーの月移動ボタン*/
.button_month {
	background-color: #fffacd;
	border: double 3px #cd5c5c;
	color: #cd5c5c;
	/*文字色*/
	border-radius: 5px;
	padding: 0px 7px;
	text-decoration: none;
	white-space: nowrap;
	/* テキストを折り返さない */
	overflow: hidden;
	/* はみ出した部分を隠す */
}

.button_month:hover {
	color: #ffe4e1;
	background-color: #cd5c5c;
}


/* レスポンシブデザイン */
@media (max-width: 768px) {

	.html {
		font-size: 0.3rem;
	}


	.input-text {
		width: 100%;
		/* 小さい画面では幅を小さく */
	}

	.btn {
		width: 90%;
		height: auto;
		padding: 0.5rem 0.75rem;
		/* パディングを調整 */
		font-size: 0.85rem;
		/* フォントサイズを小さく */
		margin: 0 var(--small);
	}

	.container {
		margin: 10px 0;
		/* マージンを小さくする */
	}

	.input-area {
		padding: 10px;
		width: auto;
		max-width: 90%;
		flex-direction: column;
	}

	.input-option {
		display: flex;
		/* フレックスボックスを使用 */
		flex-direction: column;
		justify-content: center;
		/* 中央揃え */
		align-items: center;
		/* 縦方向も中央揃え */
		margin: 0.5rem 0;
		/* 上下のマージン */
	}

	.input-button-area {
		flex-direction: column;
	}


	.input-option input {
		margin: 0 0.5rem;
		/* アイテム同士の間隔 */
	}

	.lists-table table {
		padding: 10px;
		width: 60%
	}

	.lists-table tr {
		display: block;
		/* 行をブロック要素にする */
		margin-bottom: 1rem;
		/* 行間にマージンを追加 */
	}

	.lists-table td {
		display: block;
		/* セルをブロック要素にする */
		width: 100%;
		/* 幅を100%にする */
		margin: 0.5rem 0;
		/* セル間にマージンを追加 */
		padding: 0.1rem;
	}

	.lists-table td:first-child {
		margin-top: 0;
		/* 最初のセルの上マージンをリセット */
	}

	img {
		width: 150px;
		height: 150px;
		margin: var(--small);
	}

	.todoChat th,
	.todoChat td {
		display: block;
		/* ブロック要素にする */
		text-align: center;
		/* 中央揃え */
		white-space: nomal;
		/* 折り返しを防ぐ */
	}

	.action-area {
		padding: 5px;
		/* パディングも調整 */
		flex-direction: column;
		/* 小さい画面でも縦に並べる */
		align-items: center;
		/* 中央揃え */
	}


	.lists-back-ground,
	.input-area-todo {
		width: 100%;
		/* 幅を100%に設定 */
		max-width: 100%;
		/* 最大幅の制限を解除 */
	}

}

@media (max-width: 480px) {

	h3 {
		font-size: var(--font-size);
		/* タイトルを小さく */
	}

	.input-text {
		width: 100%;
		/* さらに小さい画面での幅調整 */
		font-size: 0.75rem;
		/* フォントサイズをさらに小さく */
	}

	.btn {
		width: 90%;
		/* 幅を90%に設定 */
		height: auto;
		/* 高さを自動に */
		font-size: 0.75rem;
		/* さらに小さく */
		padding: 0.5rem 0.5rem;
		/* パディングを調整 */
		margin: 0 var(--small);
	}

	.container {
		margin: 5px 0;
		/* マージンを小さくする */
	}

	.action-area {
		padding: 5px;
		/* パディングも調整 */
		flex-direction: column;
		/* 小さい画面でも縦に並べる */
		align-items: center;
		/* 中央揃え */
	}

	.input-area {
		padding: 5px;
		width: auto;
		max-width: 90%;
		flex-direction: column;
		/* 縦に並べる */
		justify-content: center;
		align-items: center;
	}

	.lists-back-ground,
	.input-area-todo {
		width: 100%;
		/* 幅を100%に設定 */
		max-width: 100%;
		/* 最大幅の制限を解除 */
	}


	.list-table table {
		padding: 5px;
		width: 40%
	}

	.lists-table tr {
		display: block;
		/* 行をブロック要素にする */
		margin-bottom: 0.5rem;
		/* 行間にマージンを追加 */
	}

	.lists-table td {
		display: block;
		/* セルをブロック要素にする */
		width: 100%;
		/* 幅を100%にする */
		margin: 0.25rem 0;
		/* セル間にマージンを追加 */
	}

	.lists-table td:first-child {
		margin-top: 0;
		/* 最初のセルの上マージンをリセット */
	}
}